@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 11% 95%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 248 81% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 212 23% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 248 81% 62%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 240 5% 95%;
    --card: 240 4% 12%;
    --card-foreground: 240 5% 95%;
    --popover: 240 6% 10%;
    --popover-foreground: 240 5% 95%;
    --primary: 248 81% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 18%;
    --secondary-foreground: 240 5% 95%;
    --muted: 240 4% 18%;
    --muted-foreground: 240 5% 63%;
    --accent: 212 23% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 18%;
    --input: 240 4% 18%;
    --ring: 248 81% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
